# Activez le module Rewrite d'Apache
RewriteEngine On

# Redirigez toutes les requêtes vers l'index.html du frontend, à l'exception des requêtes vers le dossier backend et les fichiers statiques
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ /frontend/build/index.html [NC,L]

# Gérez les requêtes d'API vers le backend Symfony
RewriteRule ^api/(.*) backend/public/$1 [NC,L]

# Redirigez les requêtes vers le répertoire public de Symfony pour les ressources statiques non trouvées
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ public [NC,L]